---
apiVersion: secretgenerator.mittwald.de/v1alpha1
kind: StringSecret
metadata:
  name: memelord-{{ .Release.Name }}-database
  labels:
    cnpg.io/reload: "true"
spec:
  data:
    username: memelord-{{ .Release.Name }}
  fields:
    - fieldName: password
      length: "32"
      encoding: hex
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: memelord-{{ .Release.Name }}-database
spec:
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:17
  primaryUpdateStrategy: unsupervised
  storage:
    size: 1Gi
    storageClass: postgres
  affinity: # These should be enforced/mutated by Kyverno
    podAntiAffinityType: required
    nodeSelector:
      codemowers.io/lvm-ubuntu-vg: enterprise-ssd
  monitoring:
    enablePodMonitor: true
  resources:
    requests:
      cpu: "100m"
      memory: "1Gi"
    limits:
      cpu: "1"
      memory: "4Gi"
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: "512MB"
      effective_cache_size: "2GB"
  managed:
    roles:
    - name: memelord-{{ .Release.Name }}
      ensure: present
      login: true
      passwordSecret:
        name: memelord-{{ .Release.Name }}-database
---
apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: memelord-{{ .Release.Name }}
spec:
  name: memelord-{{ .Release.Name }}
  owner: memelord-{{ .Release.Name }}
  cluster:
    name: memelord-{{ .Release.Name }}-database
