---
apiVersion: secretgenerator.mittwald.de/v1alpha1
kind: StringSecret
metadata:
  name: memelord-{{ .Release.Name }}-redis
spec:
  fields:
    - fieldName: redis-password
      length: "32"
      encoding: hex
---
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: memelord-{{ .Release.Name }}-redis
spec:
  authentication:
    passwordFromSecret:
      name: memelord-{{ .Release.Name }}-redis
      key: redis-password
  replicas: 3
  resources:
    requests:
      cpu: 500m
      memory: 500Mi
    limits:
      cpu: 600m
      memory: 750Mi
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: memelord-{{ .Release.Name }}-redis
spec:
  selector:
    matchLabels:
      app: redis
  podTargetLabels:
    - app
  podMetricsEndpoints:
    - port: admin
